MBA Ciencia de Dados ----Análise de Variância (ANOVA)

aluno: Joel Campos Teixeira

In [1]:
# importando as bibliotecas
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
# Exemplo de dados
np.random.seed # criando a semente de numeros
grupo1 = np.random.normal(10,2,30)
grupo2 = np.random.normal(12,2,30)
grupo3 = np.random.normal(11,2,30)

#Criando o dataframe
data = pd.DataFrame({'grupo': np.repeat(['Grupo1','Grupo2','Grupo3'],30),
                    'valores': np.concatenate([grupo1,grupo2,grupo3])})
data.tail()

     grupo    valores
85  Grupo3  11.489546
86  Grupo3  13.029709
87  Grupo3   9.002344
88  Grupo3  10.728429
89  Grupo3   9.534051

In [7]:
data.groupby('grupo')['valores'].mean()

grupo
Grupo1     9.912908
Grupo2    12.323106
Grupo3    11.426671
Name: valores, dtype: float64

In [8]:
# anova de um fator 
anova_resul =stats.f_oneway(grupo1,grupo2,grupo3)
print('Estatistica:F ', anova_resul.statistic)
print('Valor p:', anova_resul.pvalue)

Estatistica:F  13.621936263231735
Valor p: 7.1343702539372346e-06

In [9]:
# TESTE AB

In [10]:
import scipy.stats as stats

#Exemplo de dados

np.random.seed(0)

grupo_A= np.random.normal(10,2,30)
grupo_B= np.random.normal(12,2,30)

grupo_A

array([13.52810469, 10.80031442, 11.95747597, 14.4817864 , 13.73511598,
        8.04544424, 11.90017684,  9.69728558,  9.7935623 , 10.821197  ,
       10.28808714, 12.90854701, 11.52207545, 10.24335003, 10.88772647,
       10.66734865, 12.98815815,  9.58968347, 10.6261354 ,  8.29180852,
        4.89402037, 11.30723719, 11.7288724 ,  8.51566996, 14.53950925,
        7.09126865, 10.09151703,  9.6256323 , 13.06555843, 12.93871754])

In [11]:
# Teste t de amostras independentes

In [12]:
t_test_result = stats.ttest_ind(grupo_A,grupo_B)
print('Estatistica F:',t_test_result.statistic)
print('Valor P: ',t_test_result.pvalue)

Estatistica F: -1.0246375585969996
Valor P:  0.30978886450466103