# Lista de Exercícios Python básico

aluno : joel campos teixeira

"Crie uma lista com os números de 1 a 10 e exiba-a."

In [76]:
ls=[1,2,3,4,5,6,7,8,9,10]
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Use o range() para gerar uma lista de números pares de 2 a 20 e exiba-a.

In [82]:
l= np.arange(2,21,2)
l

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

"Crie uma lista de nomes e exiba o segundo e o último nome da lista.

In [85]:
names=['name-0'+str(i) for i in range(1,10)]
names[0],names[1]

('name-01', 'name-02')

"Use o slicing para obter os três primeiros itens de uma lista [10, 20, 30, 40, 50, 60].

In [88]:
ls1=[10,20,30,40,50,60]
ls1[:3]

[10, 20, 30]

Use o slicing para obter os últimos três itens de uma lista [10, 20, 30, 40, 50, 60].

In [92]:
ls1[-3:]

[40, 50, 60]

Defina um dicionário chamado aluno com chaves nome, idade e curso. Atribua valores e exiba o dicionário.

In [146]:
aluno={'nome':'Joel','idade':'52','curso':'ciencia de dados'}
aluno

{'nome': 'Joel', 'idade': '52', 'curso': 'ciencia de dados'}

Adicione uma nova chave nota ao dicionário aluno e atribua um valor.

In [147]:
aluno['nota']=7
aluno

{'nome': 'Joel', 'idade': '52', 'curso': 'ciencia de dados', 'nota': 7}

Modifique o valor da chave idade no dicionário aluno para um valor novo e exiba o dicionário atualizado.

In [148]:
aluno['idade']=55
aluno

{'nome': 'Joel', 'idade': 55, 'curso': 'ciencia de dados', 'nota': 7}

Crie uma lista chamada alunos que contenha três dicionários, cada um representando um aluno com nome e nota.

In [149]:
aluno1=aluno
aluno1['nome']= 'rosana'
aluno1['idade']=52
aluno1['curso']='estatistica'
aluno1['nota']=6

In [150]:
aluno2=aluno
aluno1['nome']= 'mia'
aluno1['idade']=22
aluno1['curso']='machine learnig'
aluno1['nota']=4

In [151]:
alunos=[]
#alunos.append(aluno)

In [153]:
alunos.append(aluno)
alunos

[{'nome': 'mia', 'idade': 22, 'curso': 'machine learnig', 'nota': 4},
 {'nome': 'mia', 'idade': 22, 'curso': 'machine learnig', 'nota': 4}]

Acesse o nome do segundo aluno na lista de dicionários alunos.

In [154]:
alunos[1]['nome']

'mia'

In [142]:
alunos

[{'nome': 'Joel', 'idade': 55, 'curso': 'ciencia de dados', 'nota': 7},
 {'nome': ('mia',), 'idade': (22,), 'curso': ('machine learnig',), 'nota': 4},
 {'nome': ('mia',), 'idade': (22,), 'curso': ('machine learnig',), 'nota': 4},
 {'nome': ('mia',), 'idade': (22,), 'curso': ('machine learnig',), 'nota': 4}]

Adicione um campo idade ao primeiro dicionário da lista alunos.

In [157]:
alunos[1]['idade']=33
alunos

[{'nome': 'mia', 'idade': 33, 'curso': 'machine learnig', 'nota': 4},
 {'nome': 'mia', 'idade': 33, 'curso': 'machine learnig', 'nota': 4}]

Crie uma lista de 5 números e exiba o maior e o menor número usando as funções max() e min().

In [165]:
ran=range(1,6)
ls2=np.arange(1,6)
import numpy as np

In [171]:
for i in range(1,6):
    num= np.random.randint(1,50)
    ls2[i-1]= num
print('minimo '+str(min(ls2)),'maximo '+str(max(ls2)))

minimo 1 maximo 39

Use um loop for para somar todos os elementos de uma lista [1, 2, 3, 4, 5].

In [184]:
lst= [1, 2, 3, 4, 5]
soma =0
for i in lst:
    soma += i
    print(soma)

1
3
6
10
15

Crie uma lista com os quadrados dos números de 1 a 10.

In [185]:
lsquad= [x**2 for x in range(1,11)]
lsquad

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Crie uma lista de dicionários representando três produtos, com nome e preço. Em seguida, use um loop para exibir o nome e o preço de cada produto.

In [188]:
produto={'nome':'','preço':''}

In [191]:
produtos=[]
produtos.append(produto)
produtos

[{'nome': '', 'preço': ''}]

In [193]:
produtos.append(produto)
produtos

[{'nome': '', 'preço': ''},
 {'nome': '', 'preço': ''},
 {'nome': '', 'preço': ''}]

In [233]:
produtos[0]['nome']='arroz'
produtos[0]['preço']=35.00

In [236]:
produtos = [
    {"nome": "Produto 1", "preço": 10.5},
    {"nome": "Produto 2", "preço": 15.0},
    {"nome": "Produto 3", "preço": 8.75}]

In [229]:
produtos[1]['nome']='feijão'
produtos[1]['preço']=6.00

In [226]:
produtos[1]

{'nome': 'feijão', 'preço': 6.0}

In [227]:
produtos[2]['nome']='café'
produtos[2]['preço']=17.00

In [232]:
type(produto)

dict

In [237]:
for produto in produtos:
    print(f"{produto['nome']}: R$ {produto['preço']}")

Produto 1: R$ 10.5
Produto 2: R$ 15.0
Produto 3: R$ 8.75

In [199]:
produto.keys()
#produto.items()

dict_keys(['nome', 'preço'])

Verifique se um número está na lista [10, 20, 30, 40] e exiba uma mensagem apropriada.

Crie uma lista de frutas e verifique se a fruta 'banana' está na lista. Se estiver, exiba "Banana encontrada!".

In [238]:
frutas=['banana','maça','uva','pera','goiaba','tomate']
frutas

['banana', 'maça', 'uva', 'pera', 'goiaba', 'tomate']

In [245]:
for fruta in frutas:
    procura =fruta
    if fruta == 'pera':
        print('Achou a ' + fruta)

Achou a pera

Ordene uma lista [3, 5, 2, 8, 1] em ordem crescente e exiba-a.

In [247]:
ista = [3, 5, 2, 8, 1]
ista.sort()
ista

[1, 2, 3, 5, 8]

Remova todos os valores duplicados de uma lista [1, 2, 2, 3, 4, 4, 5].

In [250]:
lista = [1, 2, 2, 3, 4, 4, 5]
for item in lista:
     if lista[item-1] == lista[item-2]:
         lista.pop(item-2)
print(lista)

[1, 2, 3, 4, 5]

Crie um dicionário onde as chaves são números de 1 a 5 e os valores são seus quadrados.

In [251]:
dic ={x:x**2 for x in range(1,6)}
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Lista de Respostas com os Códigos
python
Copiar código
# 1
lista = list(range(1, 11))
print(lista)

# 2
numeros_pares = list(range(2, 21, 2))
print(numeros_pares)

# 3
nomes = ["Ana", "Bruno", "Carlos", "Daniel", "Elisa"]
print(nomes[1], nomes[-1])

# 4
lista = [10, 20, 30, 40, 50, 60]
print(lista[:3])

# 5
print(lista[-3:])

# 6
aluno = {"nome": "João", "idade": 21, "curso": "Matemática"}
print(aluno)

# 7
aluno["nota"] = 8.5
print(aluno)

# 8
aluno["idade"] = 22
print(aluno)

# 9
alunos = [
    {"nome": "Ana", "nota": 7.5},
    {"nome": "Bruno", "nota": 9.0},
    {"nome": "Carlos", "nota": 8.0}
]

# 10
print(alunos[1]["nome"])

# 11
alunos[0]["idade"] = 20
print(alunos)

# 12
numeros = [15, 7, 20, 10, 8]
print("Maior:", max(numeros))
print("Menor:", min(numeros))

# 13
lista = [1, 2, 3, 4, 5]
soma = 0
for num in lista:
    soma += num
print(soma)

# 14
quadrados = [x ** 2 for x in range(1, 11)]
print(quadrados)

# 15
produtos = [
    {"nome": "Produto 1", "preço": 10.5},
    {"nome": "Produto 2", "preço": 15.0},
    {"nome": "Produto 3", "preço": 8.75}
]
for produto in produtos:
    print(f"{produto['nome']}: R$ {produto['preço']}")

# 16
numeros = [10, 20, 30, 40]
numero = 25
if numero in numeros:
    print("Número encontrado!")
else:
    print("Número não encontrado.")

# 17
frutas = ["maçã", "banana", "laranja"]
if "banana" in frutas:
    print("Banana encontrada!")

# 18
lista = [3, 5, 2, 8, 1]
lista.sort()
print(lista)

# 19
numeros = [1, 2, 2, 3, 4, 4, 5]
numeros_unicos = list(set(numeros))
print(numeros_unicos)

# 20
quadrados_dict = {x: x**2 for x in range(1, 6)}
print(quadrados_dict)

import numpy as np
lista = np.arange(1,11)
lista

2.Use o range() para gerar uma lista de números pares de 2 a 20 e exiba-a.

In [10]:
ls2 = np.arange(2,21,2)
ls2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

3.Crie uma lista de nomes e exiba o segundo e o último nome da lista.

In [12]:
ls2=['nome'+str(x) for x in range(1,6)]
ls2
ls2[0]

'nome1'

In [13]:
ls2[-1]

'nome5'

4.Use o slicing para obter os três primeiros itens de uma lista [10, 20, 30, 40, 50, 60].

In [14]:
num = [10, 20, 30, 40, 50, 60]

In [17]:
num[:3]

[10, 20, 30]

6. Defina um dicionário chamado aluno com chaves nome, idade e curso. Atribua valores e exiba o dicionário.

In [19]:
aluno={'nome':'Joel','idade':'52','curso':'ciencia de dados'}
aluno

{'nome': 'Joel', 'idade': '52', 'curso': 'ciencia de dados'}

7. Adicione uma nova chave nota ao dicionário aluno e atribua um valor.

In [23]:
aluno['nota']='7'

In [24]:
aluno

{'nome': 'Joel', 'idade': '52', 'curso': 'ciencia de dados', 'nota': '7'}

8. Modifique o valor da chave idade no dicionário aluno para um valor novo e exiba o dicionário atualizado.

In [27]:
aluno.keys()

dict_keys(['nome', 'idade', 'curso', 'nota'])

In [28]:
aluno['idade']=66

In [29]:
aluno

{'nome': 'Joel', 'idade': 66, 'curso': 'ciencia de dados', 'nota': '7'}

In [30]:
aluno1=aluno
aluno2= aluno
alunos=[]

In [35]:
aluno1['nome']='Eneisa'
aluno1['idade']=33
aluno1['curso']='Ciencia de dados'
aluno1['nota']= 8
aluno2['nome']='MARIA'
aluno2['idade']=55
aluno2['curso']='Ciencia de dados'
aluno2['nota']= 5
alunos.append(aluno)
alunos.append(aluno1)
alunos.append(aluno2)

In [36]:
alunos[1]

{'nome': 'MARIA', 'idade': 55, 'curso': 'Ciencia de dados', 'nota': 5}

Crie uma lista de 5 números e exiba o maior e o menor número usando as funções max() e min().

In [40]:
lst =np.arange(0,5)
type(lst)

numpy.ndarray